// fonts

$sans: Inter, -apple-system, BlinkMacSystemFont, sans-serif
$serif: 'Source Serif 4', Georgia, serif


// colors
$basecolor: #074C71
$basehover: lighten($basecolor, 10)
$basedark: darken($basecolor, 15)

$link: $basecolor
$linkhover: $basehover

$darkgrey: #333
$midgrey: #555
$lightgrey: #777
$fadegrey: #999

$bodycolor: #444
$titlecolor: $basecolor
$detailcolor: $fadegrey

$pagecolor: white


// media queries
$tablet: 68.75rem
$phone: 43.75rem

// viewport width
$maxwidth: 100rem
$minwidth: 40rem

// font sizes
$maxfontpx: 1.1rem
$minfontpx: 0.8rem
$maxfont: 1.1
$minfont: 0.8

// responsive spacing and sizing
$space-1: 0.5rem
$space-2: 1rem
$space-3: 1.5rem
$space-4: 2rem
$space-5: 3rem
$space-6: 4rem

//others
$borderradius: 0.75rem
