// fonts

$sans: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif
$serif: 'Duplicate Ionic', Georgia, serif


// colors
$basecolor: #2082ac
$basehover: lighten($basecolor, 10)

$link: $basecolor
$linkhover: $basehover

$darkgrey: #333
$midgrey: #555
$lightgrey: #777
$fadegrey: #999

$bodycolor: $midgrey
$titlecolor: $midgrey
$detailcolor: $fadegrey
