---
#
---

@import brand

html
  height: 100%

body
  font-size: 100% !important
  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0 auto
  height: 100%
  background-color: $pagecolor

.container
  width: 100%
  max-width: 31.25rem
  margin: 0 auto
  min-height: 100%
  padding-bottom: 0.3125rem

  @media screen and (max-width: 31.25rem)
    width: 100%

.header
  background-image: url(/assets/about.webp)
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-attachment: fixed
  background-color: white

  height: 31.25rem
  max-height: 100% !important
  top: 0

  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0

  @media screen and (max-width: $phone)
    background-image: url(/assets/about-phone.webp)
    background-attachment: scroll
    background-position: top

  h1
    font-size: clamp(2.25rem, 4vw, 3.125rem)
    font-weight: 700
    color: white
    font-family: $serif
    text-align: center

    // vertically align element
    top: 60%
    left: 50%
    position: relative
    transform: translate(-50%, -50%)

    @media screen and (max-width: 40.625rem)
      width: 100%
      font-size: clamp(1.875rem, 5vw, 2.5rem)
      top: 65%

.post-container
  margin: 6.25rem 1.875rem 1.25rem 1.875rem
  @media screen and (max-width: $phone)
    margin: 3.125rem 1.25rem 1.25rem 1.25rem

a
  text-decoration: none
  color: $link
  -webkit-transition: ease-in-out 0.3s
  transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

.container
  h2
    font-size: 1.25rem
    font-weight: 900
    color: $titlecolor
    font-family: $sans

  h3
    font-size: 1.875rem
    font-weight: 700
    color: $titlecolor
    font-family: $sans

p, ul.license-list li.license-list
  font-size: 0.9375rem
  color: $bodycolor
  font-family: $sans
  font-weight: normal
  line-height: 160%

  /*FOR TYPOGRAPHIC SUPPORT
  text-rendering: optimizeLegibility
  font-variant-ligatures: contextual
  -webkit-font-variant-ligatures: common-ligatures
  -webkit-font-feature-settings: "kern"
  font-feature-settings: "kern"
  font-kerning: normal

.pagination
  text-align: center
  margin-top: 9.375rem

.img-container
  float: left
  display: block
  margin-left: -9.375rem
  padding: 0.5625rem 1.5625rem 0.625rem 0
  $imgheight: 15.625rem
  height: $imgheight
  text-align: right

  @media screen and (max-width: 50rem)
    display: inline
    float: none
    left: 0
    margin-left: 0
    text-align: left
    padding: 0

  img
    height: $imgheight
    border-radius: $borderradius
    background-color: $fadegrey

    @media screen and (max-width: 50rem)
      width: 100%
      height: auto
      margin: auto

div.profile-content
  border-top: 0.0625rem solid #ddd
  margin-top: 6.25rem!important
  padding-top: 1.25rem
  padding-bottom: 1.25rem
  font-family: $sans
  font-weight: 400
  font-size: 0.75rem
  text-align: center
  color: $fadegrey
  line-height: 0.625rem
  margin: auto

  a
    color: $fadegrey
    font-weight: 700

    &:hover
      color: $link
