---
#
---

@import brand

body
  font-size: 100% !important
  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0 auto

.container
  float: center
  width: 500px
  margin: auto

.post-container
  margin: 200px 30px 200px 30px

a
  text-decoration: none
  color: $link
  -webkit-transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

h1
  font-size: 23px
  font-weight: 700
  color: $titlecolor
  font-family: $sans

  a
    color: $titlecolor
    -webkit-transition: ease-in-out 0.3s

    &:hover
      color: $lightgrey

h2
  font-size: 40px
  font-weight: 100
  color: $titlecolor
  font-family: $sans

h3
  font-size: 14px
  color: $detailcolor
  font-style: italic
  font-weight: 100
  font-family: $sans
  line-height: 160%
  margin-bottom: 50px

.date
  font-size: 11px
  text-transform: uppercase
  letter-spacing: 0.5
  color: $detailcolor
  font-family: $sans
  margin-top: -10px

hr
  background-color: #e5e5e5
  height: 5px
  border: none
  width: 30%
  margin-left: 0
  margin-bottom: -1%

p
  font-size: 16px
  color: $bodycolor
  font-family: $serif
  font-weight: normal
  line-height: 160%

  /*FOR TYPOGRAPHIC SUPPORT
  text-rendering: optimizeLegibility
  font-variant-ligatures: contextual
  -webkit-font-variant-ligatures: common-ligatures
  -webkit-font-feature-settings: "kern"
  font-feature-settings: "kern"
  font-kerning: normal

.pagination
  text-align: center
  margin-bottom: -50px

  #arrow-next
    fill: $fadegrey
    -webkit-transition: ease-in-out 0.3s

  #next:hover #arrow-next
    fill: $darkgrey

  #arrow-previous
    fill: $fadegrey
    -webkit-transition: ease-in-out 0.3s

  #previous:hover #arrow-previous
    fill: $darkgrey

img
  max-width: 100%
  border-radius: 2px
