---
#
---

@import brand

html
  height: 100%

body
  background-image: url(/assets/404.webp)
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  background-attachment: relative
  background-color: white

  height: 100% !important
  max-height: 100% !important
  top: 0

  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0

.container
  margin: auto
  width: min(34.375rem, 90vw)!important

  // vertically align element
  top: 50%
  left: 50%
  position: absolute
  transform: translate(-50%, -50%)

  @media screen and (max-width: $phone)
    width: 85%!important

a
  text-decoration: none
  color: $link
  -webkit-transition: ease-in-out 0.3s
  transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

.container
  h1
    font-size: clamp(2rem, 3vw, 2.5rem)
    font-weight: 700
    color: white
    font-family: $sans
    vertical-align: middle
    display: inline-block
    margin-top: 4.375rem
    margin-bottom: 1.875rem

    text-shadow: 0 0 0.9375rem #333

  h2
    font-size: 1.375rem
    font-weight: 300
    color: white
    font-family: $sans
    vertical-align: middle
    display: inline-block
    margin-top: -1.25rem
    line-height: 160%

    text-shadow: 0 0 0.9375rem #333

  p
    font-size: 0.75rem
    font-weight: 500
    color: #555
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
    display: block
    color: #666
    text-align: left
    line-height: 160%

    margin-top: 2.5rem

  a
    padding: 0.625rem 0.9375rem
    background-color: white
    border-radius: 3.125rem
    width: relative

    &:hover
      background-color: $link
      color: white
