---
#
---

@import brand

footer
  background-color: #fcfcfc
  font-family: $sans
  font-weight: 100 !important
  color: $midgrey
  padding-bottom: 15px
  list-style: none
  float: center
  text-align: left
  margin-top: 200px
  border-top: 1px solid #eee
  font-size: 12px

  table tr th
    font-weight: 700

    a
      color: $fadegrey !important
      -webkit-transition: ease-in-out 0.3s

      &:hover
        color: $darkgrey !important

#footer
  float: center
  margin: 20px 0 10px 0

table
  border-collapse: collapse
