---
#
---

footer
  background-color: #fcfcfc
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif
  font-weight: 100 !important
  color: #555
  padding-bottom: 15px
  list-style: none
  float: center
  text-align: left
  margin-top: 150px
  border-top: 1px solid #eee
  font-size: 12px

  table tr th
    font-weight: 700

    a
      color: #555 !important
      -webkit-transition: ease-in-out 0.3s

      &:hover
        color: #222 !important

#footer
  float: center
  margin: 20px 0 10px 0

table
  border-collapse: collapse
