---
#
---

@import brand

html
  height: 100%

body
  font-size: 100% !important
  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0 auto
  height: 100%
  background-color: $pagecolor

hr
  border-bottom: 0.01875rem solid #ccc
  border-top: 0
  border-left: 0
  border-right: 0

.container
  width: min(31.25rem, 100%)
  margin: 0 auto
  min-height: 100%
  padding-bottom: 0.3125rem

  @media screen and (max-width: $phone)
    width: 100%

.post-container
  margin: 12.5rem 1.875rem 1.25rem 1.875rem

  @media screen and (max-width: $phone)
    margin: 9.375rem 1.25rem 1.25rem 1.25rem

a
  text-decoration: none
  color: $link
  -webkit-transition: ease-in-out 0.3s
  transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

a.pop
  text-decoration: none
  color: $link
  font-family: $sans
  font-size: 0.84375rem
  -webkit-transition: ease-in-out 0.3s
  transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

.container
  h1
    font-size: 1.875rem
    font-weight: 700
    color: $titlecolor
    font-family: $sans

  h2
    font-size: 1.25rem
    font-weight: 700
    color: $titlecolor
    font-family: $sans

p, ul.license-list li.license-list
  font-size: 0.9375rem
  color: $bodycolor
  font-family: $serif
  font-weight: normal
  line-height: 160%

  /*FOR TYPOGRAPHIC SUPPORT
  text-rendering: optimizeLegibility
  font-variant-ligatures: contextual
  -webkit-font-variant-ligatures: common-ligatures
  -webkit-font-feature-settings: "kern"
  font-feature-settings: "kern"
  font-kerning: normal

.pagination
  text-align: center
  margin-top: 9.375rem

.img-container
  float: left
  display: block
  margin-left: -9.375rem
  padding: 0.5625rem 1.5625rem 0.625rem 0
  $imgheight: 15.625rem
  height: $imgheight
  text-align: right

  @media screen and (max-width: $phone)
    display: none

  img
    height: $imgheight
    border-radius: $borderradius
    background-color: $fadegrey

div.profile-content
  border-top: 0.0625rem solid #ddd
  margin-top: 6.25rem!important
  padding-top: 1.25rem
  padding-bottom: 1.25rem
  font-family: $sans
  font-weight: 400
  font-size: 0.75rem
  text-align: center
  color: $fadegrey
  line-height: 0.625rem
  margin: auto

  a
    color: $fadegrey
    font-weight: 700

    &:hover
      color: $link
