nav {
    padding: 20px 0 15px 0;
}

nav #navbar-logo {
    vertical-align: middle;
    text-align: left;
    margin: 10px 0 0 30px;
}

nav ul.nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    list-style: none;
    font-weight: 700;
    text-align: right;
    margin: -40px 50px 0 0;
}

nav ul.nav li.nav {
    display: inline;
    list-style-type: none;
}

nav ul.nav li.nav a.nav {
    padding: 30px 20px 30px 20px;
    margin: 0 -2px 0 -2px;
    color: #777;
    -webkit-transition: ease-in-out 0.3s;
}

nav ul.nav li.nav a.nav:hover {
    color: #2082ac;
}
