---
#
---

@import brand

nav
  padding: 5px 0 35px 0
  border-bottom: .5px solid #dadada
  background-color: rgba(255,255,255,0.85)
  position: fixed
  width: 100%
  top: 0
  height: 20px

  $filter: blur(20px) saturate(250%)
  backdrop-filter: $filter
  -webkit-backdrop-filter: $filter

  #navbar-logo
    vertical-align: middle
    text-align: left
    margin: 7px 0 0 50px

    svg .base
      fill: $basecolor

  ul.nav
    font-family: $sans
    list-style: none
    font-weight: 700
    text-align: right
    margin: -30px 50px 0 0

    li.nav
      display: inline
      list-style-type: none
      padding-right: 10px

      a.nav
        padding: 30px 20px 30px 20px
        margin: 0 -2px 0 -2px
        color: $lightgrey
        -webkit-transition: ease-in-out 0.3s

        &:hover
          color: $link
