---
#
---

@import brand

html
  height: 100%

body
  font-size: 100% !important
  size: 100% !important
  width: 100% !important
  padding: 0
  margin: 0 auto
  height: 100%
  background-color: $pagecolor

.container
  width: 500px
  margin: 0 auto
  min-height: 100%
  padding-bottom: 5px

.post-container
  margin: 200px 30px 20px 30px

a
  text-decoration: none
  color: $link
  -webkit-transition: ease-in-out 0.3s
  transition: ease-in-out 0.3s

  &:hover
    text-decoration: none
    color: $linkhover

.container
  h1
    font-size: 40px
    font-weight: 100
    color: $titlecolor
    font-family: $sans

  h2
    font-size: 20px
    font-weight: 900
    color: $titlecolor
    font-family: $sans

  h3
    font-size: 30px
    font-weight: 900
    color: $titlecolor
    font-family: $sans

  h4
    font-size: 50px
    font-weight: 800
    color: $titlecolor
    font-family: $sans
    vertical-align: middle
    display: inline-block
    margin-bottom: 30px

  h5
    font-size: 30px
    font-weight: 100
    color: $titlecolor
    font-family: $sans
    vertical-align: middle
    display: inline-block
    margin-top: -20px

p, ul.license-list li.license-list
  font-size: 14px
  color: $bodycolor
  font-family: $sans
  font-weight: normal
  line-height: 160%

  /*FOR TYPOGRAPHIC SUPPORT
  text-rendering: optimizeLegibility
  font-variant-ligatures: contextual
  -webkit-font-variant-ligatures: common-ligatures
  -webkit-font-feature-settings: "kern"
  font-feature-settings: "kern"
  font-kerning: normal

.pagination
  text-align: center
  margin-top: 150px

.img-container
  float: left
  display: block
  margin-left: -150px
  padding: 9px 25px 10px 0
  $imgheight: 250px
  height: $imgheight
  text-align: right

  img
    height: $imgheight
    border-radius: 5px
    background-color: $fadegrey

hr
  border: 0
  height: 0
  border-top: 1px solid #ddd
  margin: 200px 0 20px 0

div.profile-content
  font-family: $sans
  font-weight: 700
  font-size: 12px
  word-spacing: 5px
  text-align: center

  a
    color: #aaa

    &:hover
      color: $midgrey
