body {
    font-size: 100%!important;
    size: 100%!important;
    width: 100%!important;
    padding: 0;
    margin: 0 auto;
}

.container {
    float: center;
    width: 500px;
    margin: auto;
}

.post-container {
    margin: 200px 30px 200px 30px;
}

a {
    text-decoration: none;
    color: #2082ac;
    -webkit-transition: ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #3d93b8;
}

.container h1 {
    font-size: 40px;
    font-weight: 100;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

.container h2 {
    font-size: 20px;
    font-weight: 700;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

.container h3 {
    font-size: 30px;
    font-weight: 500;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

p ul.license-list {
    font-size: 14px;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif!important;
    font-weight: normal;
    line-height: 160%;

    /*FOR TYPOGRAPHIC SUPPORT*/
    text-rendering: optimizeLegibility;
    font-variant-ligatures: contextual;
    -webkit-font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
}

.pagination {
    text-align: center;
    color: #555;
    margin-top: 150px;
}

#arrow-next {
fill: #aaa;
-webkit-transition: ease-in-out 0.2s;
}

#next:hover #arrow-next {
fill: #333;
}

#arrow-previous {
fill: #aaa;
-webkit-transition: ease-in-out 0.2s;
}

#previous:hover #arrow-previous {
fill: #333;
}

img {
    max-width: 100%;
    border-radius: 2px;
}
