---
#
---

@import brand

.sidebar
  text-align: center
  float: right
  right: 0
  width: relative
  margin-right: 15%
  margin-left: 50px
  padding-bottom: 50px
  z-index: 0

  .card1
    border: 0.5px solid #ddd
    border-radius: 3px
    background-color: white

    width: 245px
    height: relative
    text-align: center
    overflow: hidden

    img
      height: auto
      width: auto
      border-radius: 0 !important

    div.profile-content
      padding: 10px 30px 30px 30px !important

      p
        font-size: 12.5px
        color: $fadegrey
        font-family: $sans
        font-weight: normal
        line-height: 160%
        text-align: left
        width: relative
        float: center
        margin: auto
        margin-top: 15px

  //------------------------------

  .card2
    margin-top: 30px
    text-align: center

    font-family: $sans
    font-weight: 500
    font-size: 11px
    color: #aaa
    line-height: 150%

    div.profile-content
      word-spacing: 2px
      font-weight: 700

      a
        color: #aaa

        &:hover
          color: $midgrey
