---
#
---

@import brand

.sidebar
  text-align: center
  float: right
  right: 0
  width: relative
  padding-bottom: 50px
  z-index: 0

  @media screen and (max-width: $tablet)
    display: none

  .card1
    border: 0.5px solid #c9c9c9
    border-radius: 10px
    background-color: white

    width: 300px
    height: relative
    text-align: center
    overflow: hidden

    img
      height: auto
      width: auto
      border-radius: 0 !important

    div.profile-content
      padding: 10px 30px 30px 30px !important

      p
        font-size: 13px
        color: $lightgrey
        font-family: $sans
        font-weight: normal
        line-height: 155%
        text-align: left
        width: relative
        float: center
        margin: auto
        margin-top: 15px

  //------------------------------

  .card2
    margin-top: 30px
    text-align: center

    font-family: $sans
    font-weight: 400
    font-size: 11px
    color: #aaa
    line-height: 150%

    div.profile-content
      word-spacing: 1.1px
      font-weight: 700

      a
        color: #aaa

        &:hover
          color: $link

      img.social
        height: 20px
        margin-left: 10px
        margin-right: 10px
        opacity: 0.8

        -webkit-transition: ease-in-out 0.3s
        transition: ease-in-out 0.3s

        &:hover
          opacity: 1
