<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet" media="none" onload="if(media!='all')media='all'">

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">


<link rel="stylesheet" href="https://use.fontawesome.com/29fed3c443.css">


<script type="text/javascript">
  <!--
  if (screen.width <= 1000) {
    window.location = "/mobile";
  }
  //-->
</script>

{% seo %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=M4ok69EyKJ">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png?v=M4ok69EyKJ" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png?v=M4ok69EyKJ" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png?v=M4ok69EyKJ" sizes="16x16">
<link rel="manifest" href="/assets/favicons/manifest.json?v=M4ok69EyKJ">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=M4ok69EyKJ" color="#2082ac">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=M4ok69EyKJ">
<meta name="apple-mobile-web-app-title" content="Francis Borja">
<meta name="application-name" content="Francis Borja">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png?v=M4ok69EyKJ">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=M4ok69EyKJ">
<meta name="theme-color" content="#ffffff">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@site_username">
<meta name="twitter:creator" content="@creator_username">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% endif %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/header.png">


{% if page.title %}
  <meta name="og:title" content="{{ page.title }}">
{% else %}
  <meta name="og:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="og:description" content="{{ page.description }}">
{% else %}
  <meta name="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% endif %}
<meta property="og:image" content="{{ site.url }}/assets/header.png">
