<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>

<div class="sidebar">

<div class="card1">
<img src="/assets/img/profile.jpg" oncontextmenu="return false" />
<div class="profile-content">

  <p>Hello. My name is Francis. I&nbsp;am a writer and designer. Welcome to my blog. I hope you become friends with the voices in my head. <a href="/about" style="font-size: 11px; text-transform: uppercase">Read more about me&nbsp;&rsaquo;</a></p>

  <p>Despite a strong indication of introversion, I am quite social:</p>

  <p><a href="https://twitter.com/freeingfrancis" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&emsp;@freeingfrancis</a>

<br />

  <a href="https://instagram.com/freeingfrancis" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>&emsp;&#8202;&#8202;@freeingfrancis</a></p>

</div>
</div>




<div class="card2">

  <img src="/assets/logomark-bw.svg" oncontextmenu="return false" /><br /><br />
  CC 4.0 FRANCIS BORJA<br />
  Some Rights Reserved

<div class="profile-content">

  <a href="/About">About</a> <span style="color: #aaa; font-style: bold">&#183;</span> <a href="/license">License</a> <span style="color: #aaa; font-style: bold">&#183;</span> <a href="mailto:mail@francisborja.com">Contact</a>

</div>
</div>




</div>
