<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>

<div class="sidebar">

<div class="card1">
<img src="/assets/img/profile.jpg" oncontextmenu="return false" />
<div class="profile-content">

  <p>Hello. My name is Francis. I&nbsp;am a writer, designer and environmentalist. Welcome to my blog. I hope you become friends with the voices in my head.</p>

  <p>Read an excessively abbreviated profile <a href="/about">about me</a> (that's more out-of-context than a helpful autobiography) and maybe the voices won't seem too much like radio static.</p>

</div>
</div>


<div class="card2">

<div class="card-head">Social Media</div>

<div class="profile-content">

  <p>Despite a strong indication of introversion, I am quite (selectively) social:</p>

  <p><a href="https://twitter.com/freeingfrancis" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&emsp;@freeingfrancis</a></p>

  <p><a href="https://instagram.com/freeingfrancis" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>&emsp;@freeingfrancis</a></p>

</div>
</div>

</div>
