---
layout: blog
title: Blog
description: This blog is a repository for all the voices in my head. I hope you like their company, too.
---

{% include sidebar.html %}

{% for post in paginator.posts %}
    <div class="post-container">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="date">{{ post.date | date: '%B %Y' }}</p>
    <br>
    <div id="post-body">
        {{ post.excerpt }}
        {% if post.content contains site.excerpt_separator %}
          <span class="date"><a href="{{ post.url }}">Continue Reading &rsaquo;</a></span>
        {% endif %}

    </div>
    </div>
{% endfor %}


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">

      <svg id="previous" width="150px" height="150px" viewBox="95 46 323 314" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect stroke="none" fill="none" fill-rule="evenodd" x="95" y="46" width="323" height="314" rx="15"></rect>
          <path d="M275.240115,202.42031 L275.254834,202.405592 L243.435029,170.585786 L231.585786,182.435029 L245.730578,196.579821 L251.985281,202.834524 L232,222.819805 L243.849242,234.669048 L275.669048,202.849242 L275.240115,202.42031 Z" id="arrow-previous" stroke="none" fill-rule="evenodd" transform="translate(253.627417, 202.627417) scale(-1, 1) translate(-253.627417, -202.627417) "></path>
      </svg>

    </a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">

      <svg id="next" width="150px" height="150px" viewBox="95 46 323 314" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect stroke="none" fill="none" fill-rule="evenodd" x="95" y="46" width="323" height="314" rx="15"></rect>
          <path d="M275.240115,202.42031 L275.254834,202.405592 L243.435029,170.585786 L231.585786,182.435029 L245.730578,196.579821 L251.985281,202.834524 L232,222.819805 L243.849242,234.669048 L275.669048,202.849242 L275.240115,202.42031 Z" id="arrow-next" stroke="none" fill-rule="evenodd"></path>
      </svg>

    </a>
  {% endif %}
</div>
{% endif %}
