<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
{% include head.html %}
<link rel="stylesheet" type="text/css" href="/css/landing.css">

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-84144727-2', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

</head>

<body>
{% include navbar.html %}

<div class="container">
{{ content }}
</div>

</body>

</html>
