<!DOCTYPE html>
<html>
<head>
{% include head.html %}
<link rel="stylesheet" type="text/css" href="/css/license.css">
{% seo %}
<title>{{ page.title }}</title>
</head>

<body>
{% include navbar.html %}

<div class="container">
{{ content }}


<div class="profile-content">

<span style="margin: 3px">CC 4.0 FRANCIS BORJA &emsp; Some Rights Reserved</span>

<br /><br />

<span style="margin: 3px"><a href="/about">About</a></span>

<span style="margin: 3px; color: #aaa; font-style: bold">&#183;</span>

<span style="margin: 3px"><a href="/license">License</a></span>

<span style="margin: 3px; color: #aaa; font-style: bold">&#183;</span>

<span style="margin: 3px"><a href="mailto:freeingfrancis@outlook.com">Contact</a></span>


</div>


</div>

</body>

</html>
