---
layout: blog
comments: true
---

<div class="post-container">
<h1>{{ page.title }}</h1>
<p class="date">{{ page.date | date: '%B %Y' }}</p>
<br>
<div>{{ content }}</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = {{ site.url }};
this.page.identifier = {{ site.url }}{{ page.url }};
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://francisborja.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}


</div>



<!---

<div style="text-align: center; margin-top: 50px"><img style="border-radius:0" src="/assets/logomark-bw-sm.svg" oncontextmenu="return false" /></div>


<div class="post-navigation">
  {% if page.previous.url %}
    Older Post
    <a class="prev" href="{{ page.previous.url }}">&lsaquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    Newer Post
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &rsaquo;</a>
  {% endif %}
</div>

</div>
--->
